In [1]:
import pandas as pd

#Series

In [2]:
##create a series
ser = pd.Series([3,4,5,6,7])

In [3]:
ser

0    3
1    4
2    5
3    6
4    7
dtype: int64

In [4]:
ser2=pd.Series(['Apple','Mango','Grapes','Orange'])
ser2

0     Apple
1     Mango
2    Grapes
3    Orange
dtype: object

In [8]:
ser2[1:3]

1     Mango
2    Grapes
dtype: object

In [11]:
ser3=pd.Series([5,6,7,8,9,1,3,5,18])
ser3

0     5
1     6
2     7
3     8
4     9
5     1
6     3
7     5
8    18
dtype: int64

In [12]:
ser3[2:7]

2    7
3    8
4    9
5    1
6    3
dtype: int64

In [14]:
ser4= pd.Series([5,6,7,8,9,1,3,5],index=['r1','r2','r3','r4','r5','r6','r7','r8'])
ser4

r1    5
r2    6
r3    7
r4    8
r5    9
r6    1
r7    3
r8    5
dtype: int64

In [17]:
ser4['r2':'r8']

r2    6
r3    7
r4    8
r5    9
r6    1
r7    3
r8    5
dtype: int64

In [22]:
df= pd.read_csv('/content/mtcars.csv')
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [23]:
df.tail()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

In [24]:
df.shape

(32, 12)

In [25]:
df.mpg

0     21.0
1     21.0
2     22.8
3     21.4
4     18.7
5     18.1
6     14.3
7     24.4
8     22.8
9     19.2
10    17.8
11    16.4
12    17.3
13    15.2
14    10.4
15    10.4
16    14.7
17    32.4
18    30.4
19    33.9
20    21.5
21    15.5
22    15.2
23    13.3
24    19.2
25    27.3
26    26.0
27    30.4
28    15.8
29    19.7
30    15.0
31    21.4
Name: mpg, dtype: float64

In [26]:
df['mpg']

0     21.0
1     21.0
2     22.8
3     21.4
4     18.7
5     18.1
6     14.3
7     24.4
8     22.8
9     19.2
10    17.8
11    16.4
12    17.3
13    15.2
14    10.4
15    10.4
16    14.7
17    32.4
18    30.4
19    33.9
20    21.5
21    15.5
22    15.2
23    13.3
24    19.2
25    27.3
26    26.0
27    30.4
28    15.8
29    19.7
30    15.0
31    21.4
Name: mpg, dtype: float64

DATA FRAME FROM SCRATCH

In [28]:
df1 = pd.DataFrame([[1,2,3,4,5,6],[2,3,4,5,6,7],[4,5,8,9,6,5]])
df1

   0  1  2  3  4  5
0  1  2  3  4  5  6
1  2  3  4  5  6  7
2  4  5  8  9  6  5

In [31]:
df1.columns=['c1','c2','c3','c4','c5','c6']
df1

   c1  c2  c3  c4  c5  c6
0   1   2   3   4   5   6
1   2   3   4   5   6   7
2   4   5   8   9   6   5

In [32]:
df1.index = ['r1','r2','r3']
df1

    c1  c2  c3  c4  c5  c6
r1   1   2   3   4   5   6
r2   2   3   4   5   6   7
r3   4   5   8   9   6   5

In [33]:
import numpy as np

In [34]:
d = {'name': ['A','B','C','D','E'],'Age':[19,22,np.nan,18,19],'Gender':['M','F','M','M','F']}
d

{'name': ['A', 'B', 'C', 'D', 'E'],
 'Age': [19, 22, nan, 18, 19],
 'Gender': ['M', 'F', 'M', 'M', 'F']}

In [36]:
df3=pd.DataFrame(d)

In [37]:
df3

  name   Age Gender
0    A  19.0      M
1    B  22.0      F
2    C   NaN      M
3    D  18.0      M
4    E  19.0      F

In [38]:
df3.Gender

0    M
1    F
2    M
3    M
4    F
Name: Gender, dtype: object

adding new column

In [39]:
df3['Salary']=[65000,45000,78000,68000,56000]

In [40]:
df3

  name   Age Gender  Salary
0    A  19.0      M   65000
1    B  22.0      F   45000
2    C   NaN      M   78000
3    D  18.0      M   68000
4    E  19.0      F   56000

to  chk null values are present

In [41]:
df3.isnull().any()

name      False
Age        True
Gender    False
Salary    False
dtype: bool

5- observations 4 parameters (5-rows,4columns)

In [43]:
df3.shape

(5, 4)

axis=0: This refers to rows. If you use axis=0, it means you want to drop rows with the specified label(s).

axis=1: This refers to columns. If you use axis=1, it means you want to drop columns with the specified label(s).

In [45]:
df3.drop(['Salary'],axis=1)

  name   Age Gender
0    A  19.0      M
1    B  22.0      F
2    C   NaN      M
3    D  18.0      M
4    E  19.0      F

In [47]:
df3['Salary']=[65000,45000,78000,68000,56000]
df3

  name   Age Gender  Salary
0    A  19.0      M   65000
1    B  22.0      F   45000
2    C   NaN      M   78000
3    D  18.0      M   68000
4    E  19.0      F   56000

to show the specific number of null values present in each column

In [50]:
df3.isnull().sum()

name      0
Age       1
Gender    0
Salary    0
dtype: int64

In [51]:
dfd = df3.drop(3,axis=0)
dfd

  name   Age Gender  Salary
0    A  19.0      M   65000
1    B  22.0      F   45000
2    C   NaN      M   78000
4    E  19.0      F   56000

In [52]:
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

datatype of column in datasets

In [54]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    5 non-null      object
 1   Age     4 non-null      float64
 2   Gender  5 non-null      object
 3   Salary  5 non-null      int64
dtypes: float64(1), int64(1), object(2)
memory usage: 288.0+ bytes

replace null values if present numerical column-then replace with mean or median
categorical column -replace with mode

descriptive statistics of the data

In [55]:
df3.describe()

             Age       Salary
count   4.000000      5.00000
mean   19.500000  62400.00000
std     1.732051  12501.99984
min    18.000000  45000.00000
25%    18.750000  56000.00000
50%    19.000000  65000.00000
75%    19.750000  68000.00000
max    22.000000  78000.00000

in our case we have to replace for age
we choose median

In [56]:
df3.Age.median()

19.0

In [57]:
df3.Age.mean()

19.5

replacing the null value with median value

In [59]:
df3.Age = df3.Age.fillna(df3.Age.median())
df3

  name   Age Gender  Salary
0    A  19.0      M   65000
1    B  22.0      F   45000
2    C  19.0      M   78000
3    D  18.0      M   68000
4    E  19.0      F   56000

In [61]:
df3.Gender.mode()

0    M
Name: Gender, dtype: object

In [63]:
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

#slicing operators
loc-location
iloc- index location

In [65]:
df.loc[3]  #gives location and properties of 3rd observation

model    Hornet 4 Drive
mpg                21.4
cyl                   6
disp              258.0
hp                  110
drat               3.08
wt                3.215
qsec              19.44
vs                    1
am                    0
gear                  3
carb                  1
Name: 3, dtype: object

In [66]:
df.loc[0]

model    Mazda RX4
mpg           21.0
cyl              6
disp         160.0
hp             110
drat           3.9
wt            2.62
qsec         16.46
vs               0
am               1
gear             4
carb             4
Name: 0, dtype: object